# Build folders
bin/
obj/

# Visual Studio
.vs/

# VS Code
.vscode/

# Node modules
node_modules/

# Angular build output
dist/

# Logs
*.log

# SQLite database
*.db
*.db-shm
*.db-wal

# Environment files
.env