<article class="recipe-card" (click)="viewRecipe()">

  <div class="recipe-image">

    <img
    [src]="getCoverImage()"
    class="cover-image">

    <div class="image-overlay">

        <button class="view-btn">

            View Recipe →

        </button>

    </div>

</div>

  <div class="recipe-content">

    <h3>{{ recipe.title }}</h3>

    <p class="summary">
      {{ recipe.summary }}
    </p>

   <div class="rating">

    @for (star of stars; track star) {

        <span
            class="card-star"
            [class.filled]="star <= recipe.rating">

            ★

        </span>

    }

</div>

  </div>

</article>